.App {
}

.center-block {
  margin: auto;
  width: 50%;
}
.App-header {
  height: 70px;
  padding: 20px;
  color: black;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  color: #eceff1;
  font-size: large;
  padding: 25px;
}

.Load-more {
  width: 150px;
  line-height: 40px;
  border-radius: 2px;
  margin: 0 auto;
  display: block;
  background: black;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
